<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8">
  <link href="https://fonts.googleapis.com/css?family=Lobster" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}"/>
  <title>대한민국 교통사고 차트</title>
	<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
  <script type="text/javascript">
    google.charts.load('current', {'packages':['corechart']});
    google.charts.setOnLoadCallback(drawVisualization);

    function drawVisualization() {
        // Some raw data (not necessarily accurate)
        var data = google.visualization.arrayToDataTable([
            ['Year', '발생건수', '사망자수','사망자 비율'],
            {% for yr, cnt, death in year_cnt %}
                [{{yr}}, {{cnt}}, {{death}}, {{death/cnt}}],
            {% endfor %}
        ]);

        var options = {
            title : '연도별 사건 발생수와 사망자수',
            vAxis: {title: '횟수'},
            hAxis: {title: '년도'},
            seriesType: 'bars',
            vAxes: {
                1: {
                    title:'사망 비율',
                    textStyle: {color: 'red'}
                }
            },
            series: {
                2: {
                    targetAxisIndex:1,
                    type:'line'
                },

            }

        };

        var chart = new google.visualization.ComboChart(document.getElementById('chart_div'));
        chart.draw(data, options);
    }
  </script>
    
</head>
<body>
  <div>
		<h3>2012~2018년의 사건발생건수와 사망자수를 알아보자.</h3>
		<div id="chart_div"></div>
    <p>2개의 축을 설정하여, 왼쪽축에는 발생 건수, 오른쪽축에는 사망자 비율을 나타내었다.</p>
	</div>

  <div>
    <a class="btn blue" href="http://localhost:5000/district">행정구역별</a>
    <a href="http://localhost:5000/district">행정구역별</a>
  </div>
</body>
</html>